<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.springsource.ide.eclipse.gradle.launch">
<stringAttribute key="org.eclipse.debug.core.ATTR_REFRESH_SCOPE" value="${workspace}"/>
<stringAttribute key="org.springsource.ide.eclipse.gradle.launch.PGM_ARGS" value="-x test"/>
<stringAttribute key="org.springsource.ide.eclipse.gradle.launch.PROJECT" value="Lecture0601-SpringBoard"/>
<stringAttribute key="org.springsource.ide.eclipse.gradle.launch.TASKTEXT" value="clean build"/>
</launchConfiguration>
